<!doctype html>
<html>
<head>
    <title>ToDo by Dzemal Becirevic</title>
    <link rel="stylesheet" href="css/style.css" type="text/css" />
    <script type="text/javascript" src="js/lib/require.js" data-main="js/main"></script>

    <!-- Templates -->
    <script type="text/template" id="create-task-template">
        <h2>Create Task</h2>
    	<form action="" method="POST" id="create-task-form">
            <label for="categories">Category</label>
            <select name="select-category" id="create-task-select-category" class="task-category">
                <% _.each( category, function( category ) { %>
                    <option value="<%= category.attributes.id %>"><%= category.attributes.label %></option>
                <% }); %>
            </select>
    		<label for="task-content">Task:</label>
    		<input type="text" name="task-content" class="task-content" />
    		<input type="button" name="task-submit" id="submit-task-form" value="Add task" />
    	</form>
    </script>

    <!-- Create user template. -->
    <script type="text/template" id="create-user-template">
        <h2>Create user</h2>
        <form action="" method="POST" id="create-user-form">
            <label for="username">username:</label>
            <input type="text" name="username" id="input-username" />
            <input type="button" name="user-submit" id="submit-create-user-form" value="Create user" /> 
        </form>
    </script>

    <!-- TodoList template -->
    <script type="text/template" id="todo-list-template">
            <% _.each( categories, function( categories ) { %>
                <div class="todo-holder <%= categories.attributes.label %>">
                    
                </div>
            <% }); %>
    </script>

    <!-- Todos -->
    <script type="text/template" id="todos">
        <% _.each( todo, function( todo ) { %>
            <div class="todo">
            <p><%= todo.attributes.content %></p>
            </div>
        <% }); %>
    </script>

</head>
<body>
	<div id="wrapper">
		<div id="createTask">

		</div>
        <div id="todo-category">
           
        </div>

        <div id="create-user">
            
        </div>
	</div>
</body>
</html>